* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #4dffff;
    color: black;
}
#header {
    width: 100%;
    height: 100vh;
    background-image: url(main.png);
    background-size: cover;
    background-position: center;
}
.container {
    padding: 10px 10%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 20px;
    transition: 1s;
    position: relative;
}
nav ul li a::after {
    content: '';
    background-color: #4b42f5;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -6px;
    position: absolute;
    border-radius: 50%;
    transition: 1s;
}
nav ul li a:hover::after {
    width: 100%;
}
nav ul li a:hover {
    background-color: rgba(75, 66, 245, 0.5); 
    color: white;
}
.info {
    margin-top: 20%;
    font-size: 30px;
}
.info h1 {
    margin-top: 20px;  
}
span {
    color: #4b42f5;
}
#about {
    padding: 80px 0;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 20px;
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20px;
}
.tab-titles {
    display:flex;
    margin: 20px 0 40px;
}
.links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: 1s;
}
.links::after {
    content: '';
    background-color: #4b42f5;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -6px;
    position: absolute;
    border-radius: 100%;
    transition: width 1s;
}
.links:hover {
    transform: translateY(-2px);
}
.links.active-link::after {
    width: 100%;   
}

.tab-info ul li {
    list-style-type: none;
    margin-top: 10px;
    font-weight: bold;
}
.tab-info ul li:nth-child(even) {
    color:#4b42f5;
}
.tab-info {
    display:none;
}
.active-tab {
    display: block;
}
#services {
    padding: 30px 0;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div {
    background: #4b42f5;
    color: white;
    padding: 50px;
    font-size: 14px;
    border-radius: 20px;
    transition: background-color 0.5s, transform 0.5s;
}
.services-list div h2 {
    font-size: 26px;
    margin: 20px 0;
    font-weight: 300;
}
.services-list div a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover {
    background-color: rgba(75, 66, 245, 0.5);
    transform: translateY(-10px);
}
#project {
    padding: 50px 0;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden; 
}
.work img {
    width: 100%; 
    display: block;
    transition: transform 1s;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(77, 255, 255, 0.6), #4b42f5);
    color: white;
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 1s;
}
.layer p {
    margin-top: 20px;
}
.layer a {
    color: black;
    margin-top: 20px;
}
.work:hover img {
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}
.btn {
    display: block;
    margin: 50px auto;
    text-decoration: none;
    color: black;
    width: fit-content;
    padding: 15px 25px;
    background-color: #4b42f5;
    color: white;
    border: 1px solid #4dffff;
    border-radius: 10px;
    transition: 1s;
}
.btn:hover {
    border-color: #4b42f5;
    background-color: white;
    color: black;
}
.contact-1 {
    flex-basis: 35%;
}
.contact-1 p {
    margin-top: 30px;
}
.contact-2 {
    flex-basis: 60%;
}
.contact-1 p i {
    margin-right: 15px;
    color:#4b42f5;
    font-size: 25px;
}
.icons {
    margin-top: 30px;
}
.icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgba(75, 66, 245, 0.5);
    display: inline-block;
    transition: 1s;
}
.icons a:hover {
    color: #4b42f5;
    transform: translateY(-3px);
}
.btn.btn2 {
    display: inline-block;
    background-color: #4b42f5;
}
.btn.btn2:hover {
    background-color: white;
    color:#4b42f5;
}
.contact-2 form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: rgba(75, 66, 245, 0.5);
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 15px;
    border-radius: 10px;
}
form input::placeholder, form textarea::placeholder {
    color: white;
}
nav .fa {
    display: none;
}
.contact-2 #msg {
    color:black;
    margin-top: -40px;
    display: block;
    font-size: 15px;
}
@media screen and (max-width: 600px)
{
    #header {
        background-image: url(phone.png);
    }
    .info {
        margin-top: 50%;
    }
    .info p {
        font-size: 15px;
    }
    .info h1 {
        font-size: 30px;
    }
    nav .fa {
        display: block;
        font-size: 25px;
    }
    nav ul {
        background-color: #4b42f5;
        top:0;
        right: -200px;
        position: fixed;
        padding-top: 20px;
        width: 200px;
        height: 100vh;
        transition: right 1s;
        z-index: 2;
    }
    nav ul li {
        margin-top: 50px;
    }
    nav ul li a {
        color: white;
    }
    nav ul li a::after {
        content: '';
        background-color: rgb(255, 255, 255);
        width: 0;
        height: 3px;
        left: 0;
        bottom: -6px;
        position: absolute;
        border-radius: 50%;
        transition: 1s;
    }
    nav ul li a:hover::after {
        width: 100%;
    }
    nav ul li a:hover {
        background-color: rgba(77, 255, 255, 0.6); 
        color: black;
    }
    nav ul .fa {
        top:20px;
        right:45px;
        position: absolute;
        cursor: pointer;
        color: white;
    }
    .sub-title {
        font-size: 40px;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-2  {
        font-size: 15px;
    }
    .contact-1, .contact-2 {
        flex-basis: 100%;
    }
}